button, a.button {
	width: 224px;
	height: 48px;
	line-height: 48px;
	border: 0;
	border-radius: 24px;
	background-color: #5298b2;
	margin: 0 auto;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

button.small, a.button.small {
	height: 30px;
	line-height: 30px;
	border-radius: 12px;
	width: 114px;
	font-size: 16px;
}

button:disabled {
	border: 0.5px solid #afafaf;
	background-color: #ececec;
	color: #afafaf;
	cursor: default;
}
