.editable-text-value {
	height: 32px;
}

.editable-text-value .view {
	position: relative;
	display: flex;
	height: 32px;
	align-items: center;
}

.editable-text-value .edit {
	position: relative;
	height: 32px;
	top: -32px;
	display: flex;
	align-items: center;
	visibility: hidden;
}

.editable-text-value .view .value {
	flex-grow: 1;
	font-weight: 600;
	padding-left: 12px;
}

.editable-text-value .view .value.not-filled {
	font-weight: 300;
	font-style: italic;
	color: #7f7f7f;
}

.editable-text-value .icon {
	border-radius: 0px;
	width: 20px;
	height: 20px;
	mask-size: 20px 20px;
	-webkit-mask-size: 20px 20px;
	background-color: #373844;
	margin-left: 12px;
	cursor: pointer;
}

.editable-text-value .edit input {
	flex-grow: 1;
	width: 0px;
	height: 32px;
	border: 0.5px solid #757575;
	border-radius: 14px;
	padding: 0px 12px;
	color: #373844;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
}

.editable-text-value .icon.icon-edit {
	mask-image: url('../../images/icon_pencil.svg');
	-webkit-mask-image: url('../../images/icon_pencil.svg');
}

.editable-text-value .icon.icon-cancel {
	mask-image: url('../../images/icon_xmark.svg');
	-webkit-mask-image: url('../../images/icon_xmark.svg');
}

.editable-text-value .icon.icon-confirm {
	mask-image: url('../../images/icon_check.svg');
	-webkit-mask-image: url('../../images/icon_check.svg');
}
