.num-code-edit input {
	width: 24px;
	height: 32px;
	margin-left: 8px;
	border: 1px solid #757575;
	border-radius: 6px;
	font-size: 18px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #373844;
}

.num-code-edit input:first-child {
	margin-left: 0px;
}

.num-code-edit.error input {
	border: 2px solid #be2b2b;
	color: #be2b2b;
}
