div.password-edit {
	width: 286px;
	height: 42px;
	margin: 0 auto;
	text-align: left;
}

div.password-edit input {
	position: absolute;
	display: block;
	width: 286px;
	height: 42px;
	border: 0.5px solid #5298b2;
	border-radius: 21px;
	margin: 0px;
	padding: 0px 48px 0px 16px;
	flex-grow: 1;
	box-sizing: border-box;
	color: #5298b2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
}

div.password-edit input::placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
	color: #7f7f7f;
}

div.password-edit-image-container {
	display: flex;
	position: absolute;
	width: 53px;
	height: 42px;
	margin-left: 233px;
	align-items: center;
}

div.password-edit-image-container img {
	position: absolute;
	width: 23px;
	height: 19px;
	margin-left: 15px;
}
