.progress-bar {
	height: 16px;
}

.progress-bar-border {
	box-sizing: border-box;
	width: 100%;
	height: 16px;
	border-radius: 8px;
	border: 1.5px solid #5298b2;
}

.progress-bar-fill {
	position: relative;
	top: -16px;
	box-sizing: border-box;
	height: 16px;
	border-radius: 8px;
	background-color: #5298b2;
}
