<div class="fill-space">
	<div class="page-back-header"></div>
	<div id="form" class="bordered-form" style="margin-top: 16px">
		<div class="form-row">
			<div id="first-name-label" class="form-label"></div>
			<div id="first-name-value" class="form-value"></div>
		</div>
		<div class="form-row">
			<div id="last-name-label" class="form-label"></div>
			<div id="last-name-value" class="form-value"></div>
		</div>
	</div>
</div>
<div id="background-image"></div>
<script type="text/javascript">
	loadJS('pages/me/account');
</script>
