<link rel="stylesheet" type="text/css" href="../css/pages/me/account.css"></link>
<div class="fill-space">
	<div class="page-back-header"></div>
	<div id="form" class="bordered-form" style="margin-top: 16px">
		<div class="form-row">
			<div id="email-label" class="form-label"></div>
			<div id="email-value" class="form-value"></div>
		</div>
		<div class="form-row">
			<div id="email-verification-label" class="form-label"></div>
			<div id="email-verification-value" class="form-value"></div>
		</div>
		<div class="form-row">
			<div id="password-label" class="form-label"></div>
			<div id="password-value" class="form-value"></div>
		</div>
		<div class="form-row">
			<div id="first-name-label" class="form-label"></div>
			<div id="first-name-value" class="form-value"></div>
		</div>
		<div class="form-row">
			<div id="last-name-label" class="form-label"></div>
			<div id="last-name-value" class="form-value"></div>
		</div>
	</div>
</div>
<div id="background-image"></div>
<script type="text/javascript">
	loadJS('pages/me/account');
</script>
