<link rel="stylesheet" type="text/css" href="../css/pages/me/download.css"></link>
<div class="fill-space">
	<div class="page-back-header"></div>
	<div class="form">
		<h3 data-i18n="active_downloads" style="margin-top: 28px"></h2>

		<div id="active-downloads-container" style="margin-top: 12px">
			<div id="active-downloads-wait" class="wait-circle"></div>
			<div id="active-downloads-empty" data-i18n="active_downloads_empty"></div>
			<div id="active-downloads-list" class="bordered-list"></div>
		</div>

		<h3 data-i18n="start_download" style="margin-top: 28px"></h2>

		<div id="start-download-container" style="margin-top: 12px">
			<div id="start-download-wait" class="wait-circle"></div>
			<div id="start-download-empty" data-i18n="start_download_empty"></div>
			<div id="start-download-list" class="bordered-list"></div>
		</div>
	</div>
</div>
<div id="background-image"></div>
<script type="text/javascript">
	loadJS('pages/me/download');
</script>
