#email-verification-label {
	height: 0px;
}

#email-verification-value {
	padding-bottom: 8px;
}

.email-verification-line {
	display: flex;
}

.email-verification-icon {
	width: 20px;
	height: 20px;
	mask-size: 20px;
	-webkit-mask-size: 20px;
	margin-left: 12px;
}

.email-verification-text {
	width: 0px;
	flex-grow: 1;
	overflow-x: hidden;
	text-overflow: ellipsis;
	margin-left: 8px;
}

.email-verification-icon.verified {
	background-color: #008000;
}

.email-verification-text.verified {
	color: #008000;
}

.email-verification-icon.unverified {
	background-color: #ff9600;
}

.email-verification-text.unverified {
	color: #ff9600;
}

.email-pending-verification-pre {
	margin-left: 12px;
	margin-top: 8px;
	color: #7f7f7f;
}

.email-pending-verification {
	margin-left: 12px;
	margin-top: 4px;
	white-space: nowrap;
	font-weight: 600;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.email-pending-verification-post {
	margin-left: 12px;
	margin-top: 4px;
	color: #7f7f7f;
}

#password-value .change-button {
	margin-left: 12px;
	margin-top: 2px;
	min-width: 114px;
	width: auto;
}

#password-value form {
	display: flex;
	margin-right: 32px;
	flex-direction: column;
}

#password-value input {
	margin: 4px 0px;
	box-sizing: border-box;
	height: 32px;
	border: 0.5px solid #757575;
	border-radius: 16px;
	padding: 0px 12px;
	color: #373844;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
}

#password-value input.error {
	border: 2px solid #be2b2b;
	color: #be2b2b;
}

#password-value input::placeholder {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
	color: #7f7f7f;
}

#password-value .password-error {
	display: none;
}

#password-value .form-button-row {
	display: flex;
	margin-top: 4px;
	justify-content: center;
}

#password-value .form-button-row button {
	margin-left: 12px;
}

#password-value .form-button-row button:first-child {
	margin-left: 0px;
}

.small-text {
	font-size: 14px;
	color: #7f7f7f;
}

.radio-explanation {
	margin-left: 36px;
	margin-top: 4px;
	font-size: 14px;
	color: #7f7f7f;
}

#mfa-add-totp-qr-box {
	display: flex;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
	height: 180px;
	box-sizing: border-box;
	border: 1px solid #373844;
	align-items: center;
	justify-content: center;
}

#mfa-add-totp-qr-box img {
	width: 100%;
	height: 100%;
}

#mfa-add-totp-verify-code {
	margin-top: 8px;
	text-align: center;
}

#mfa-add-button {
	display: none;
}

.mfa-record {
	display: flex;
	border-top: 0.5px solid #bfbfbf;
	padding-top: 4px;
	margin-bottom: 8px;
}

.mfa-record:last-child {
	border-bottom: 0.5px solid #bfbfbf;
	padding-bottom: 4px;
	margin-bottom: 16px;
}

.mfa-record-content {
	flex-grow: 1;
}

.mfa-record-date {
	font-weight: 300;
	color: #7f7f7f;
	font-size: 14px;
	margin-top: 2px;
}

.mfa-record-buttons {
	margin-top: 4px;
}

.mfa-record .icon {
	border-radius: 0px;
	width: 20px;
	height: 20px;
	mask-size: 20px 20px;
	-webkit-mask-size: 20px 20px;
	background-color: #373844;
	margin-left: 12px;
	cursor: pointer;
}

.mfa-record .icon:focus {
	background-color: #0000ff;
}

.error-card-text {
	margin-top: 12px;
}

.error-card-text:first-child {
	margin-top: 0px;
}
