#active-downloads-empty {
	display: none;
}

#active-downloads-list {
	display: none;
}

#start-download-empty {
	display: none;
}

#start-download-list {
	display: none;
}

.active-download-item {
	display: flex;
	border-bottom: 0.5px solid #757575;
}

.active-download-item:last-child {
	border: 0;
}

.active-download-item-col1 {
	flex-basis: 0;
	flex-grow: 1;
	box-sizing: border-box;
	padding: 6px 16px 6px 16px;
}

.active-download-item-col2 {
	display: flex;
	align-items: center;
	flex-basis: 132px;
	flex-shrink: 0;
	box-sizing: border-box;
	padding: 6px 8px 6px 0px;
}

.active-download-item-name {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.active-download-item-time {
	font-weight: 300;
	font-size: 14px;
}

.active-download-item-col2 a.button {
	width: 100%;
}

.active-download-item-progress {
	width: 100%;
}

.active-download-item-col3 {
	display: flex;
	align-items: center;
	flex-basis: 24px;
	flex-shrink: 0;
	padding: 6px 8px 6px 0px;
}

.active-download-item-col3 .icon {
	width: 24px;
	height: 24px;
	mask-size: 24px 24px;
	-webkit-mask-size: 24px 24px;
	background-color: #373844;
	cursor: pointer;
}
