<div class="menu-icon close"></div>

<div class="menu-item-list">
	<div id="menu-item-account" class="menu-item" data-i18n="my_account"></div>
</div>

<script type="text/javascript">
	loadJS('menu');
</script>
