<link rel="stylesheet" type="text/css" href="css/pages/account.css"></link>
<div id="account-root">
	<div class="center" style="margin-top: 20px">
		<h1 data-i18n="my_account"></h1>
	</div>
	<div id="form" class="bordered-form" style="margin-top: 16px">
		<div class="form-row">
			<div id="first-name-label" class="form-label"></div>
			<div id="first-name-value" class="form-value"></div>
		</div>
		<div class="form-row">
			<div id="last-name-label" class="form-label"></div>
			<div id="last-name-value" class="form-value"></div>
		</div>
	</div>
	<div class="center">
		<button id="logout-button" name="submit" style="margin-top: 24px" data-i18n="log_out"></button>
	</div>
</div>
<div id="background-image"></div>
<script type="text/javascript">
	loadJS('pages/account');
</script>
