<div class="white-background">
	<div class="center" style="padding-top: 20px">
		<h1 data-i18n="log_in"></h1>
		<div id="background-image"></div>
	</div>
</div>
<form class="form" onsubmit="return false">
	<div id="email-edit" style="margin-top: 16px"></div>
	<div id="password-edit" style="margin-top: 8px"></div>
	<div id="login-error" class="message error center" style="margin-top: 16px"></div>
	<div class="center">
		<button id="button" name="submit" style="margin-top: 16px" data-i18n="log_in"></button>
	</div>
	<div class="caption center" style="margin-top: 16px">
		<span data-i18n="no_account"></span>
		<a class="action-link" href="{{basePath}}/signup" data-i18n="sign_up" style="margin-left: 4px"></a>
	</div>
</form>

<script type="text/javascript">
	loadJS('pages/login');
</script>
