<div class="white-background">
	<div class="center" style="padding-top: 20px">
		<h1 data-i18n="confirm_email"></h1>
		<div id="background-image"></div>
	</div>
</div>
<div class="form">
	<div id="verify-error" class="message" style="margin-top: 16px"></div>
	<div class="message" style="margin-top: 16px" data-i18n="close_window"></div>
</div>

<script type="text/javascript">
	loadJS('pages/verify-email-failed');
</script>
