:root {
	--tinted-color: #f2e9dc;
	--text-color: #373844;
	--blue-color: #5298b2;
	--blue-hover-color: #62a9c3;
	--blue-pressed-color: #227391;
	--white-hover-color: #f0f0f0;
	--white-pressed-color: #e0e0e0;
	--white-light-hover-color: #fafafa;
	--white-light-pressed-color: #eaeaea;
	--tinted-hover-color: #e8ddcc;
	--tinted-pressed-color: #dccebb;
}

html {
	height: 100%;
	min-width: 360px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	border: 0px;
	color: #373844;
	font-size: 15px;
	min-height: 100%;
}

#body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
}

#header {
	background-color: #5298b2;
	width: 100%;
	min-width: 320px;
	height: 80px;
	z-index: 10;
}

#header-content {
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 0px;
	box-sizing: border-box;
}

#header-senseeact {
	width: 42px;
	height: 80px;
}

#header-by {
	width: 20px;
	height: 80px;
	margin-left: 16px;
}

#header-rrd {
	width: 161px;
	height: 80px;
	margin-left: 18px;
}

#header-menu {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-end;
}

.menu-icon,
.header-icon {
	width: 32px;
	height: 32px;
	mask-size: 32px 32px;
	-webkit-mask-size: 32px 32px;
	margin-left: 16px;
	cursor: pointer;
}

.header-icon {
	display: none;
	background-color: white;
}

.header-icon:hover {
	background-color: #f2e9dc;
}

.header-icon.user {
	mask-image: url('../images/icon_user.svg');
	-webkit-mask-image: url('../images/icon_user.svg');
}

.header-icon.menu {
	display: block;
	mask-image: url('../images/icon_bars.svg');
	-webkit-mask-image: url('../images/icon_bars.svg');
}

.header-title,
.header-submenu-title {
	display: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
}

.header-title {
	color: white;
	text-transform: uppercase;
	margin: 0px 16px;
}

.header-submenu-title {
	color: #373844;
	background-color: #e1f0f5;
	padding: 0px 16px;
}

.header-title:hover {
	color: #f2e9dc;
}

.header-submenu-title:hover {
	color: #373844;
	background-color: #cde3ea;
}

.header-submenu-container {
	position: absolute;
	display: none;
	padding-top: 8px;
}

.header-submenu {
	background-color: #e1f0f5;
	border: 1px solid #8a9599;
	border-radius: 8px;
	padding: 8px 0px;
	min-width: 200px;
	box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 960px) {
	.header-icon {
		display: block;
	}

	.header-title,
	.header-submenu-title {
		display: block;
	}

	.header-icon.menu {
		display: none;
	}
}

#menu .menu-icon.close {
	background-color: #373844;
	margin-top: 10px;
	margin-left: auto;
	margin-right: 16px;
	mask-image: url('../images/icon_xmark.svg');
	-webkit-mask-image: url('../images/icon_xmark.svg');
}

#menu .menu-item-list {
	margin-top: 10px;
}

#menu .menu-item-container:first-child {
	border-top: 1px solid #bfbfbf;
}

.menu-item-container {
	border-bottom: 1px solid #bfbfbf;
}

a.menu-item {
	display: block;
	text-decoration: none;
	color: #373844;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	padding: 6px 16px;
	cursor: pointer;
}

a.menu-item-sub {
	text-transform: none;
	padding: 2px 16px 10px 32px;
}

a.menu-item.menu-item-selected {
	color: #5298b2;
}

a.menu-item:hover {
	color: #373844;
	background: #f0f0f0;
}

a.menu-item.menu-item-selected:hover {
	color: #5298b2;
}

#footer {
	display: flex;
	align-items: end;
	width: 100%;
	height: 84px;
}

#footer-content {
	box-sizing: border-box;
	bottom: 0px;
	width: 100%;
	padding: 0px 20px 24px 20px;
	text-align: center;
}

#footer-content a {
	white-space: nowrap;
}

#main-root-overlay, #menu-background {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

#main-root-overlay {
	z-index: 10;
}

#menu-background {
	z-index: 20;
}

#menu {
	position: fixed;
	display: none;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 240px;
	background-color: white;
	box-shadow: 0px 0px 8px 1px #303030;
	z-index: 21;
}

#root {
	display: flex;
	flex-grow: 1;
}

#sidebar-switch {
	display: none;
	flex-basis: 0px;
}

#sidebar {
	display: none;
}

@media (min-width: 960px) {
	#sidebar-switch {
		flex-basis: 240px;
		flex-shrink: 0;
		flex-direction: column;
	}

	#sidebar {
		display: block;
		flex-grow: 1;
		background: white;
		box-shadow: 0px 0px 6px 0px #808080;
		z-index: 10;
	}
}

#main-root {
	flex-grow: 1;
	display: grid;
	overflow: hidden;
}

#content-root {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	visibility: hidden;
}

#toast {
	display: none;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 84px;
	box-sizing: border-box;
	z-index: 30;
}

@media (min-width: 960px) {
	#toast.sidebar-visible {
		left: 240px;
	}
}

#toast-text {
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 12px 16px;
	color: white;
	border-radius: 16px;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}

@media (min-width: 552px) {
	#toast-text {
		width: 512px;
		margin-left: auto;
		margin-right: auto;
	}
}

.fill-space {
	flex-grow: 1;
}

.tinted-background {
	background-color: #f2e9dc;
}

.white-background {
	background-color: white;
}

.form {
	margin-left: 20px;
	margin-right: 20px;
}

.bordered-form {
	margin-left: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	border: 0.5px solid #757575;
	border-radius: 14px;
	padding: 12px 16px 12px 4px;
}

.bordered-form-content {
	margin-left: 12px;
}

.bordered-form .title {
	margin-top: 4px;
	font-weight: 600;
}

.bordered-form p.text {
	color: #676767;
}

.form .form-row,
.bordered-form .form-row {
	margin-top: 8px;
}

.form .form-row:first-child,
.bordered-form .form-row:first-child {
	margin-top: 0px;
}

.form .form-label,
.bordered-form .form-label {
	overflow: hidden;
	color: #676767;
	margin: 12px 0px 4px 12px;
}

.form .form-label.empty,
.bordered-form .form-label.empty {
	margin: 0px;
}

@media (min-width: 520px) {
	.form {
		width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.form .form-row {
		display: flex;
	}

	.form .form-label {
		min-width: 100px;
		width: 25%;
		margin: 0px;
		height: 32px;
		line-height: 32px;
	}

	.form .form-value {
		width: 0px;
		flex-grow: 1;
		box-sizing: border-box;
		padding-left: 12px;
	}
}

@media (min-width: 553px) {
	.bordered-form {
		width: 513px;
		margin-left: auto;
		margin-right: auto;
		padding: 12px 16px;
	}
	
	.bordered-form .form-row {
		display: flex;
	}

	.bordered-form-content {
		margin-left: 0px;
	}

	.bordered-form .form-label {
		min-width: 100px;
		width: 25%;
		margin: 0px;
		height: 32px;
		line-height: 32px;
	}

	.bordered-form .form-value {
		width: 0px;
		flex-grow: 1;
		box-sizing: border-box;
		padding-left: 12px;
	}
}

.card-container {
	display: grid;
}

.card-container .card {
	grid-column: 1;
	grid-row: 1;
}

@media (min-width: 680px) {
	.textdiv {
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
}

h1 {
	color: #373844;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	margin: 0px;
	text-transform: uppercase;
}

h2 {
	color: #373844;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0px;
	text-transform: uppercase;
}

h3 {
	color: #373844;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0px;
}

.caption {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.action-link {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}

.textblue {
	color: #5298b2;
}

a {
	color: #5298b2;
}

a:hover {
	color: #70beb7;
}

.center {
	text-align: center;
}

img.background-image {
	width: 360px;
	height: 75px;
}

.main-container {
	margin-left: 20px;
	margin-right: 20px;
}

@media (min-width: 1240px) {
	.main-container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}

input {
	outline: none;
}

.checkbox,
.radio {
	accent-color: #5298b2;
	width: 16px;
	height: 16px;
	margin: 0px;
}
